:root {
  /* Primitive colors */
  --neutral-25: #f8f8f9;
  --neutral-50: #dddee0;
  --neutral-100: #cfd1d3;
  --neutral-200: #b4b6ba;
  --neutral-300: #8b8e95;
  --neutral-400: #70747c;
  --neutral-500: #555963;
  --neutral-600: #474b53;
  --neutral-700: #3a3d43;
  --neutral-800: #25272c;
  --neutral-900: #18191c;
  --neutral-transparent-04: #5559630a;
  --neutral-transparent-08: #55596314;
  --neutral-transparent-16: #55596329;
  --neutral-transparent-24: #5559633d;
  --neutral-transparent-32: #55596352;
  --neutral-transparent-40: #55596366;
  --neutral-transparent-48: #5559637a;
  --yellow-25: #fffef5;
  --yellow-50: #fff8cc;
  --yellow-100: #fff5b8;
  --yellow-200: #fff08f;
  --yellow-300: #ffe752;
  --yellow-400: #ffe229;
  --yellow-500: #ffdc00;
  --yellow-600: #d6b900;
  --yellow-700: #ad9600;
  --yellow-800: #706100;
  --yellow-900: #473e00;
  --yellow-transparent-04: #ffdc000a;
  --yellow-transparent-08: #ffdc0014;
  --yellow-transparent-16: #ffdc0029;
  --yellow-transparent-24: #ffdc003d;
  --yellow-transparent-32: #ffdc0052;
  --yellow-transparent-40: #ffdc0066;
  --yellow-transparent-48: #ffdc007a;
  --green-25: #f6fcf7;
  --green-50: #d3f0d9;
  --green-100: #c2eac9;
  --green-200: #9fdeab;
  --green-300: #6bcd7c;
  --green-400: #48c15e;
  --green-500: #25b53f;
  --green-600: #1f9835;
  --green-700: #197b2b;
  --green-800: #10501c;
  --green-900: #0a3312;
  --green-transparent-04: #25b53f0a;
  --green-transparent-08: #25b53f14;
  --green-transparent-16: #25b53f29;
  --green-transparent-24: #25b53f3d;
  --green-transparent-32: #25b53f52;
  --green-transparent-40: #25b53f66;
  --green-transparent-48: #25b53f7a;
  --red-25: #fef5f8;
  --red-50: #f9ccdb;
  --red-100: #f6b8cd;
  --red-200: #f18fb1;
  --red-300: #ea5286;
  --red-400: #e52969;
  --red-500: #e0004d;
  --red-600: #bc0041;
  --red-700: #980034;
  --red-800: #630022;
  --red-900: #3f0016;
  --red-transparent-04: #e0004d0a;
  --red-transparent-08: #e0004d14;
  --red-transparent-16: #e0004d29;
  --red-transparent-24: #e0004d3d;
  --red-transparent-32: #e0004d52;
  --red-transparent-40: #e0004d66;
  --red-transparent-48: #e0004d7a;
  --purple-25: #f7f6fc;
  --purple-50: #d9d0ef;
  --purple-100: #cabde8;
  --purple-200: #ac97db;
  --purple-300: #7f5ec8;
  --purple-400: #6138bb;
  --purple-500: #4312ae;
  --purple-600: #380f92;
  --purple-700: #2e0c76;
  --purple-800: #1d084d;
  --purple-900: #130531;
  --purple-transparent-04: #4312ae0a;
  --purple-transparent-08: #4312ae14;
  --purple-transparent-16: #4312ae29;
  --purple-transparent-24: #4312ae3d;
  --purple-transparent-32: #4312ae52;
  --purple-transparent-40: #4312ae66;
  --purple-transparent-48: #4312ae7a;
  --orange-25: #fff9f5;
  --orange-50: #fee1cc;
  --orange-100: #fed5b8;
  --orange-200: #fdbd8f;
  --orange-300: #fc9952;
  --orange-400: #fb8129;
  --orange-500: #fa6900;
  --orange-600: #d25800;
  --orange-700: #aa4700;
  --orange-800: #6e2e00;
  --orange-900: #461d00;
  --orange-transparent-04: #fa69000a;
  --orange-transparent-08: #fa690014;
  --orange-transparent-16: #fa690029;
  --orange-transparent-24: #fa69003d;
  --orange-transparent-32: #fa690052;
  --orange-transparent-40: #fa690066;
  --orange-transparent-48: #fa69007a;
  --violet-25: #fbfafb;
  --black-25-04: #0000000a;
  --white-25-04: #ffffff0a;
  --white-50-08: #ffffff14;
  --white-100-16: #ffffff29;
  --white-200-24: #ffffff3d;
  --white-300-32: #ffffff52;
  --white-400-40: #ffffff66;
  --white-500-48: #ffffff7a;
  --white-600-56: #ffffff8f;
  --white-700-64: #ffffffa3;
  --white-800-72: #ffffffb8;
  --white-900-80: #ffffffcc;
  --white-1000: #ffffff;
  --black-50-08: #00000014;
  --black-100-16: #00000029;
  --black-200-24: #0000003d;
  --black-300-32: #00000052;
  --black-400-40: #00000066;
  --black-500-48: #0000007a;
  --black-600-56: #0000008f;
  --black-700-64: #000000a3;
  --black-800-72: #000000b8;
  --black-900-80: #000000cc;
  --black-1000: #000000;
  --violet-50: #ece4ed;
  --violet-100: #e4d9e6;
  --violet-200: #d4c4d7;
  --violet-300: #bda3c1;
  --violet-400: #ae8eb3;
  --violet-500: #9e78a4;
  --violet-600: #85658a;
  --violet-700: #6b5270;
  --violet-800: #463548;
  --violet-900: #2c222e;
  --violet-transparent-04: #9e78a40a;
  --violet-transparent-08: #9e78a414;
  --violet-transparent-16: #9e78a429;
  --violet-transparent-24: #9e78a43d;
  --violet-transparent-32: #9e78a452;
  --violet-transparent-40: #9e78a466;
  --violet-transparent-48: #9e78a47a;
  --client-25: #f7f6ff;
  --client-50: #d5d4ff;
  --client-100: #c5c2ff;
  --client-200: #a3a0ff;
  --client-300: #726bff;
  --client-400: #5049ff;
  --client-500: #2f26ff;
  --client-600: #2720d6;
  --client-700: #201aad;
  --client-800: #151170;
  --client-900: #0d0b47;
  --client-transparent-04: #2f26ff0a;
  --client-transparent-08: #2f26ff14;
  --client-transparent-16: #2f26ff29;
  --client-transparent-24: #2f26ff3d;
  --client-transparent-32: #2f26ff52;
  --client-transparent-40: #2f26ff66;
  --client-transparent-48: #2f26ff7a;

  /* Semantic colors */
  --background-base-default: var(--white-1000);
  --background-base-secondary: var(--neutral-25);
  --background-base-default-hover: var(--neutral-50);
  --background-base-default-pressed: var(--neutral-100);
  --background-base-default-disabled: var(--white-1000);
  --background-base-secondary-hover: var(--neutral-50);
  --background-base-secondary-pressed: var(--neutral-100);
  --background-base-secondary-disabled: var(--neutral-25);
  --background-base-tertiary: var(--neutral-100);
  --background-base-tertiary-hover: var(--neutral-50);
  --background-base-tertiary-pressed: var(--neutral-25);
  --background-base-tertiary-disabled: var(--neutral-25);
  --background-base-inverse: var(--neutral-800);
  --background-base-inverse-light: var(--neutral-600);
  --background-base-skeleton: var(--neutral-transparent-16);
  --background-base-inverse-hover: var(--neutral-700);
  --background-base-inverse-pressed: var(--neutral-600);
  --background-base-inverse-disabled: var(--neutral-400);
  --background-primary-default: var(--yellow-500);
  --background-primary-secondary: var(--yellow-25);
  --background-primary-tertiary: var(--yellow-200);
  --background-success-default: var(--green-500);
  --background-primary-inverse: var(--yellow-900);
  --background-primary-default-hover: var(--yellow-400);
  --background-primary-secondary-hover: var(--yellow-50);
  --background-success-default-hover: var(--green-400);
  --background-success-default-pressed: var(--green-300);
  --background-primary-tertiary-hover: var(--yellow-100);
  --background-primary-inverse-hover: var(--yellow-800);
  --background-success-default-disabled: var(--green-100);
  --background-success-secondary: var(--green-25);
  --background-primary-secondary-pressed: var(--yellow-100);
  --background-primary-tertiary-pressed: var(--yellow-50);
  --background-primary-inverse-pressed: var(--yellow-700);
  --background-success-secondary-hover: var(--green-50);
  --background-primary-default-pressed: var(--yellow-300);
  --background-success-secondary-pressed: var(--green-100);
  --background-primary-default-disabled: var(--yellow-100);
  --background-success-secondary-disabled: var(--green-25);
  --background-primary-secondary-disabled: var(--yellow-25);
  --background-success-tertiary: var(--green-200);
  --background-primary-tertiary-disabled: var(--yellow-50);
  --background-success-tertiary-hover: var(--green-100);
  --background-primary-inverse-disabled: var(--yellow-500);
  --background-success-tertiary-pressed: var(--green-50);
  --background-success-tertiary-disabled: var(--green-50);
  --background-error-default: var(--red-500);
  --background-error-default-hover: var(--red-400);
  --background-error-default-pressed: var(--red-300);
  --background-error-default-disabled: var(--red-100);
  --background-error-secondary: var(--red-25);
  --background-error-secondary-hover: var(--red-50);
  --background-error-secondary-pressed: var(--red-100);
  --background-error-secondary-disabled: var(--red-25);
  --background-error-tertiary: var(--red-200);
  --background-success-inverse: var(--green-900);
  --background-accent-default: var(--purple-500);
  --background-error-tertiary-hover: var(--red-100);
  --background-accent-default-hover: var(--purple-400);
  --background-success-inverse-hover: var(--green-800);
  --background-accent-default-pressed: var(--purple-300);
  --background-error-tertiary-pressed: var(--red-50);
  --background-success-inverse-pressed: var(--green-700);
  --background-error-tertiary-disabled: var(--red-50);
  --background-accent-default-disabled: var(--purple-100);
  --background-success-inverse-disabled: var(--green-500);
  --background-error-inverse: var(--red-900);
  --background-error-inverse-hover: var(--red-800);
  --background-error-inverse-pressed: var(--red-700);
  --background-error-inverse-disabled: var(--red-500);
  --background-accent-secondary: var(--purple-25);
  --background-accent-secondary-hover: var(--purple-50);
  --background-accent-secondary-pressed: var(--purple-100);
  --background-accent-secondary-disabled: var(--purple-25);
  --background-accent-tertiary: var(--purple-200);
  --background-accent-tertiary-hover: var(--purple-100);
  --background-accent-tertiary-pressed: var(--purple-50);
  --background-accent-tertiary-disabled: var(--purple-50);
  --background-accent-inverse: var(--purple-900);
  --background-accent-inverse-hover: var(--purple-800);
  --background-accent-inverse-pressed: var(--purple-700);
  --background-accent-inverse-disabled: var(--purple-500);
  --background-warning-default: var(--orange-500);
  --background-warning-default-hover: var(--orange-400);
  --background-warning-default-pressed: var(--orange-300);
  --background-warning-default-disabled: var(--orange-100);
  --background-warning-secondary: var(--orange-25);
  --background-warning-secondary-hover: var(--orange-50);
  --background-warning-secondary-pressed: var(--orange-100);
  --background-warning-secondary-disabled: var(--orange-25);
  --background-warning-tertiary: var(--orange-200);
  --background-warning-tertiary-hover: var(--orange-100);
  --background-warning-tertiary-pressed: var(--orange-50);
  --background-warning-tertiary-disabled: var(--orange-50);
  --background-warning-inverse: var(--orange-900);
  --background-warning-inverse-hover: var(--orange-800);
  --background-warning-inverse-pressed: var(--orange-700);
  --background-warning-inverse-disabled: var(--orange-500);
  --text-base-default: var(--neutral-900);
  --text-base-default-hover: var(--neutral-800);
  --text-base-default-pressed: var(--neutral-700);
  --text-base-default-disabled: var(--neutral-400);
  --text-base-default-light: var(--neutral-700);
  --text-base-default-light-hover: var(--neutral-600);
  --text-base-default-light-pressed: var(--neutral-500);
  --text-base-default-light-disabled: var(--neutral-400);
  --text-base-secondary: var(--neutral-400);
  --text-base-secondary-hover: var(--neutral-300);
  --text-base-secondary-pressed: var(--neutral-200);
  --text-base-secondary-disabled: var(--neutral-100);
  --text-base-inverse: var(--neutral-50);
  --text-base-inverse-hover: var(--neutral-100);
  --text-base-inverse-pressed: var(--neutral-200);
  --text-base-inverse-disabled: var(--neutral-50);
  --text-base-inverse-secondary: var(--neutral-200);
  --text-base-white: var(--white-1000);
  --text-base-inverse-secondary-hover: var(--neutral-300);
  --text-base-inverse-secondary-pressed: var(--neutral-400);
  --text-base-inverse-secondary-disabled: var(--neutral-200);
  --text-primary-default: var(--yellow-900);
  --text-primary-default-hover: var(--yellow-800);
  --text-primary-default-pressed: var(--yellow-700);
  --text-primary-default-disabled: var(--yellow-600);
  --text-primary-default-light: var(--yellow-700);
  --text-primary-default-light-hover: var(--yellow-600);
  --text-primary-default-light-pressed: var(--yellow-500);
  --text-primary-default-light-disabled: var(--yellow-400);
  --text-primary-secondary: var(--yellow-500);
  --text-primary-secondary-hover: var(--yellow-400);
  --text-primary-secondary-pressed: var(--yellow-300);
  --text-primary-secondary-disabled: var(--yellow-200);
  --text-primary-inverse: var(--yellow-50);
  --text-primary-inverse-hover: var(--yellow-100);
  --text-primary-inverse-pressed: var(--yellow-200);
  --text-primary-inverse-disabled: var(--yellow-25);
  --text-primary-inverse-light: var(--yellow-200);
  --text-primary-inverse-light-hover: var(--yellow-300);
  --text-primary-inverse-light-pressed: var(--yellow-400);
  --text-primary-inverse-light-disabled: var(--yellow-200);
  --text-success-default: var(--green-900);
  --text-success-default-hover: var(--green-800);
  --text-success-default-pressed: var(--green-700);
  --text-success-default-disabled: var(--green-600);
  --text-success-default-light: var(--green-700);
  --text-success-default-light-hover: var(--green-600);
  --text-success-default-light-pressed: var(--green-500);
  --text-success-default-light-disabled: var(--green-400);
  --text-success-secondary: var(--green-500);
  --text-success-secondary-hover: var(--green-400);
  --text-success-secondary-pressed: var(--green-300);
  --text-success-secondary-disabled: var(--green-200);
  --text-success-inverse: var(--green-50);
  --text-success-inverse-hover: var(--green-100);
  --text-success-inverse-pressed: var(--green-200);
  --text-success-inverse-disabled: var(--green-50);
  --text-success-inverse-light: var(--green-200);
  --text-success-inverse-light-hover: var(--green-300);
  --text-success-inverse-light-pressed: var(--green-400);
  --text-success-inverse-light-disabled: var(--green-200);
  --text-error-default: var(--red-900);
  --text-error-default-hover: var(--red-800);
  --text-error-default-pressed: var(--red-700);
  --text-error-default-disabled: var(--red-600);
  --text-error-default-light: var(--red-700);
  --text-error-default-light-hover: var(--red-600);
  --text-error-default-light-pressed: var(--red-500);
  --text-error-default-light-disabled: var(--red-400);
  --text-error-secondary: var(--red-500);
  --text-error-secondary-hover: var(--red-400);
  --text-error-secondary-pressed: var(--red-300);
  --text-error-secondary-disabled: var(--red-200);
  --text-error-inverse: var(--red-50);
  --text-error-inverse-hover: var(--red-100);
  --text-error-inverse-pressed: var(--red-200);
  --text-error-inverse-disabled: var(--red-50);
  --text-error-inverse-light: var(--red-200);
  --text-error-inverse-light-hover: var(--red-300);
  --text-error-inverse-light-pressed: var(--red-400);
  --text-error-inverse-light-disabled: var(--red-200);
  --text-accent-default: var(--purple-900);
  --text-accent-default-hover: var(--purple-800);
  --text-accent-default-pressed: var(--purple-700);
  --text-accent-default-disabled: var(--purple-600);
  --text-accent-default-light: var(--purple-700);
  --text-accent-default-light-hover: var(--purple-600);
  --text-accent-default-light-pressed: var(--purple-500);
  --text-accent-default-light-disabled: var(--purple-400);
  --text-accent-secondary: var(--purple-500);
  --text-accent-secondary-hover: var(--purple-400);
  --text-accent-secondary-pressed: var(--purple-300);
  --text-accent-secondary-disabled: var(--purple-200);
  --text-accent-inverse: var(--purple-50);
  --text-accent-inverse-hover: var(--purple-100);
  --text-accent-inverse-pressed: var(--purple-200);
  --text-accent-inverse-disabled: var(--purple-50);
  --text-accent-inverse-light: var(--purple-200);
  --text-accent-inverse-light-hover: var(--purple-300);
  --text-accent-inverse-light-pressed: var(--purple-400);
  --text-accent-inverse-light-disabled: var(--purple-200);
  --icon-base-default: var(--neutral-900);
  --icon-base-default-hover: var(--neutral-800);
  --icon-base-default-pressed: var(--neutral-700);
  --icon-base-default-disabled: var(--neutral-400);
  --icon-base-default-light: var(--neutral-700);
  --icon-base-default-light-hover: var(--neutral-600);
  --icon-base-default-light-pressed: var(--neutral-500);
  --icon-base-default-light-disabled: var(--neutral-200);
  --icon-base-secondary: var(--neutral-400);
  --icon-base-secondary-hover: var(--neutral-300);
  --icon-base-secondary-pressed: var(--neutral-200);
  --icon-base-secondary-disabled: var(--neutral-100);
  --icon-base-inverse: var(--neutral-50);
  --icon-base-inverse-hover: var(--neutral-100);
  --icon-base-inverse-pressed: var(--neutral-200);
  --icon-base-inverse-disabled: var(--neutral-50);
  --icon-base-inverse-secondary: var(--neutral-200);
  --icon-base-inverse-secondary-hover: var(--neutral-300);
  --icon-base-inverse-secondary-pressed: var(--neutral-400);
  --icon-base-inverse-secondary-disabled: var(--neutral-200);
  --icon-primary-default: var(--yellow-900);
  --icon-primary-default-hover: var(--yellow-800);
  --icon-primary-default-pressed: var(--yellow-700);
  --icon-primary-default-disabled: var(--yellow-600);
  --icon-primary-default-light: var(--yellow-700);
  --icon-primary-default-light-hover: var(--yellow-600);
  --icon-primary-default-light-pressed: var(--yellow-500);
  --icon-primary-default-light-disabled: var(--yellow-400);
  --icon-primary-secondary: var(--yellow-500);
  --icon-primary-secondary-hover: var(--yellow-400);
  --icon-primary-secondary-pressed: var(--yellow-300);
  --icon-primary-secondary-disabled: var(--yellow-200);
  --icon-primary-inverse: var(--yellow-50);
  --icon-primary-inverse-hover: var(--yellow-100);
  --icon-primary-inverse-pressed: var(--yellow-200);
  --icon-primary-inverse-disabled: var(--yellow-25);
  --icon-primary-inverse-light: var(--yellow-200);
  --icon-primary-inverse-light-hover: var(--yellow-300);
  --icon-primary-inverse-light-pressed: var(--yellow-400);
  --icon-primary-inverse-light-disabled: var(--yellow-200);
  --icon-success-default: var(--green-900);
  --icon-success-default-hover: var(--green-800);
  --icon-success-default-pressed: var(--green-700);
  --icon-success-default-disabled: var(--green-600);
  --icon-success-default-light: var(--green-700);
  --icon-success-default-light-hover: var(--green-600);
  --icon-success-default-light-pressed: var(--green-500);
  --icon-success-default-light-disabled: var(--green-400);
  --icon-success-secondary: var(--green-500);
  --icon-success-secondary-hover: var(--green-400);
  --icon-success-secondary-pressed: var(--green-300);
  --icon-success-secondary-disabled: var(--green-200);
  --icon-success-inverse: var(--green-50);
  --icon-success-inverse-hover: var(--green-100);
  --icon-success-inverse-pressed: var(--green-200);
  --icon-success-inverse-disabled: var(--green-50);
  --icon-success-inverse-light: var(--green-200);
  --icon-success-inverse-light-hover: var(--green-300);
  --icon-success-inverse-light-pressed: var(--green-400);
  --icon-success-inverse-light-disabled: var(--green-200);
  --icon-error-default: var(--red-900);
  --icon-error-default-hover: var(--red-800);
  --icon-error-default-pressed: var(--red-700);
  --icon-error-default-disabled: var(--red-600);
  --icon-error-default-light: var(--red-700);
  --icon-error-default-light-hover: var(--red-600);
  --icon-error-default-light-pressed: var(--red-500);
  --icon-error-default-light-disabled: var(--red-400);
  --icon-error-secondary: var(--red-500);
  --icon-error-secondary-hover: var(--red-400);
  --icon-error-secondary-pressed: var(--red-300);
  --icon-error-secondary-disabled: var(--red-200);
  --icon-error-inverse: var(--red-50);
  --icon-error-inverse-hover: var(--red-100);
  --icon-error-inverse-pressed: var(--red-200);
  --icon-error-inverse-disabled: var(--red-50);
  --icon-error-inverse-light: var(--red-200);
  --icon-error-inverse-light-hover: var(--red-300);
  --icon-error-inverse-light-pressed: var(--red-400);
  --icon-error-inverse-light-disabled: var(--red-200);
  --icon-accent-default: var(--purple-900);
  --icon-accent-default-hover: var(--purple-800);
  --icon-accent-default-pressed: var(--purple-700);
  --icon-accent-default-disabled: var(--purple-600);
  --icon-accent-default-light: var(--purple-700);
  --icon-accent-default-light-hover: var(--purple-600);
  --icon-accent-default-light-pressed: var(--purple-500);
  --icon-accent-default-light-disabled: var(--purple-400);
  --icon-accent-secondary: var(--purple-500);
  --icon-accent-secondary-hover: var(--purple-400);
  --icon-accent-secondary-pressed: var(--purple-300);
  --icon-accent-secondary-disabled: var(--purple-200);
  --icon-accent-inverse: var(--purple-50);
  --icon-accent-inverse-hover: var(--purple-100);
  --icon-accent-inverse-pressed: var(--purple-200);
  --icon-accent-inverse-disabled: var(--purple-50);
  --icon-accent-inverse-light: var(--purple-200);
  --icon-accent-inverse-light-hover: var(--purple-300);
  --icon-accent-inverse-light-pressed: var(--purple-400);
  --icon-accent-inverse-light-disabled: var(--purple-200);
  --icon-warning-default: var(--orange-900);
  --icon-warning-default-hover: var(--orange-800);
  --icon-warning-default-pressed: var(--orange-700);
  --icon-warning-default-disabled: var(--orange-600);
  --icon-warning-default-light: var(--orange-700);
  --icon-warning-default-light-hover: var(--orange-600);
  --icon-warning-default-light-pressed: var(--orange-500);
  --icon-warning-default-light-disabled: var(--orange-400);
  --icon-warning-secondary: var(--orange-500);
  --icon-warning-secondary-hover: var(--orange-400);
  --icon-warning-secondary-pressed: var(--orange-300);
  --icon-warning-secondary-disabled: var(--orange-200);
  --icon-warning-inverse: var(--orange-50);
  --icon-warning-inverse-hover: var(--orange-100);
  --icon-warning-inverse-pressed: var(--orange-200);
  --icon-warning-inverse-disabled: var(--orange-50);
  --icon-warning-inverse-light: var(--orange-200);
  --icon-warning-inverse-light-hover: var(--orange-300);
  --icon-warning-inverse-light-pressed: var(--orange-400);
  --icon-warning-inverse-light-disabled: var(--orange-200);
  --border-base-default-hover: var(--neutral-800);
  --border-base-secondary-hover: var(--neutral-500);
  --border-base-secondary-focused: var(--neutral-transparent-16);
  --border-base-secondary-pressed: var(--neutral-600);
  --border-base-secondary-disabled: var(--neutral-100);
  --border-base-default-focused: var(--neutral-transparent-16);
  --border-base-default-pressed: var(--neutral-900);
  --border-base-default-disabled: var(--neutral-100);
  --border-base-default: var(--neutral-400);
  --border-base-secondary: var(--neutral-100);
  --border-base-tertiary: var(--neutral-50);
  --border-base-light: var(--neutral-transparent-08);
  --border-base-inverse: var(--neutral-800);
  --border-base-tertiary-hover: var(--neutral-400);
  --border-base-light-hover: var(--neutral-transparent-16);
  --border-base-light-focused: var(--neutral-transparent-16);
  --border-base-light-pressed: var(--neutral-transparent-24);
  --border-base-light-disabled: var(--neutral-transparent-08);
  --border-base-tertiary-focused: var(--neutral-transparent-16);
  --border-base-tertiary-pressed: var(--neutral-500);
  --border-base-tertiary-disabled: var(--neutral-50);
  --border-base-inverse-hover: var(--neutral-700);
  --border-base-inverse-focused: var(--neutral-transparent-16);
  --border-base-inverse-pressed: var(--neutral-600);
  --border-base-inverse-disabled: var(--neutral-400);
  --border-primary-default: var(--yellow-500);
  --border-primary-hover: var(--yellow-800);
  --border-primary-focused: var(--yellow-transparent-16);
  --border-primary-pressed: var(--yellow-900);
  --border-primary-disabled: var(--yellow-200);
  --border-success-default: var(--green-500);
  --border-success-hover: var(--green-800);
  --border-success-focused: var(--green-transparent-16);
  --border-success-pressed: var(--green-900);
  --border-success-disabled: var(--green-200);
  --border-error-default: var(--red-500);
  --border-error-hover: var(--red-800);
  --border-error-focused: var(--red-transparent-16);
  --border-error-pressed: var(--red-900);
  --border-error-disabled: var(--red-200);
  --border-accent-default: var(--purple-500);
  --border-accent-hover: var(--purple-800);
  --border-accent-focused: var(--purple-transparent-16);
  --border-accent-pressed: var(--purple-900);
  --border-accent-disabled: var(--purple-200);
  --border-warning-default: var(--orange-500);
  --border-warning-hover: var(--orange-800);
  --border-warning-focused: var(--orange-transparent-16);
  --border-warning-pressed: var(--orange-900);
  --border-warning-disabled: var(--orange-200);
  --border-white-default: var(--white-500-48);
  --border-white-hover: var(--white-900-80);
  --border-white-focused: var(--white-100-16);
  --border-white-pressed: var(--white-900-80);
  --border-white-disabled: var(--white-200-24);
  --border-white-full: var(--white-1000);
  --border-black-default: var(--black-500-48);
  --border-black-hover: var(--black-900-80);
  --border-black-focused: var(--black-100-16);
  --border-black-pressed: var(--black-900-80);
  --border-black-disabled: var(--black-200-24);
  --transparent-background-base-hover: var(--neutral-transparent-08);
  --transparent-background-base-focused: var(--neutral-transparent-16);
  --transparent-background-base-pressed: var(--neutral-transparent-24);
  --transparent-background-primary-hover: var(--yellow-transparent-08);
  --transparent-background-primary-focused: var(--yellow-transparent-16);
  --transparent-background-primary-pressed: var(--yellow-transparent-24);
  --transparent-background-success-hover: var(--green-transparent-08);
  --transparent-background-error-hover: var(--red-transparent-08);
  --transparent-background-accent-hover: var(--purple-transparent-08);
  --transparent-background-warning-hover: var(--orange-transparent-08);
  --transparent-background-white-hover: var(--white-50-08);
  --transparent-background-black-hover: var(--black-50-08);
  --transparent-background-black-focused: var(--black-100-16);
  --transparent-background-black-pressed: var(--black-200-24);
  --transparent-background-black-scrim: var(--black-900-80);
  --transparent-background-white-focused: var(--white-100-16);
  --transparent-background-white-pressed: var(--white-200-24);
  --transparent-background-warning-focused: var(--orange-transparent-16);
  --transparent-background-warning-pressed: var(--orange-transparent-24);
  --transparent-background-accent-focused: var(--purple-transparent-16);
  --transparent-background-accent-pressed: var(--purple-transparent-24);
  --transparent-background-error-focused: var(--red-transparent-16);
  --transparent-background-error-pressed: var(--red-transparent-24);
  --transparent-background-success-focused: var(--green-transparent-16);
  --transparent-background-success-pressed: var(--green-transparent-24);
  --transparent-text-default: var(--black-900-80);
  --transparent-text-default-hover: var(--black-800-72);
  --transparent-text-default-pressed: var(--black-700-64);
  --transparent-text-default-disabled: var(--black-600-56);
  --transparent-text-default-light: var(--black-700-64);
  --transparent-text-default-light-hover: var(--black-600-56);
  --transparent-text-default-light-pressed: var(--black-500-48);
  --transparent-text-default-light-disabled: var(--black-400-40);
  --transparent-text-secondary: var(--black-500-48);
  --transparent-text-secondary-hover: var(--black-400-40);
  --transparent-text-secondary-pressed: var(--black-300-32);
  --transparent-text-secondary-disabled: var(--black-200-24);
  --transparent-text-inverse: var(--white-50-08);
  --transparent-text-inverse-hover: var(--white-100-16);
  --transparent-text-inverse-pressed: var(--white-200-24);
  --transparent-text-inverse-disabled: var(--white-500-48);
  --transparent-text-inverse-light: var(--white-200-24);
  --transparent-text-inverse-light-hover: var(--white-300-32);
  --transparent-text-inverse-light-pressed: var(--white-400-40);
  --transparent-text-inverse-light-disabled: var(--white-700-64);
  --transparent-icon-default: var(--black-900-80);
  --transparent-icon-default-hover: var(--black-800-72);
  --transparent-icon-default-pressed: var(--black-700-64);
  --transparent-icon-default-disabled: var(--black-600-56);
  --transparent-icon-default-light: var(--black-700-64);
  --transparent-icon-default-light-hover: var(--black-600-56);
  --transparent-icon-default-light-pressed: var(--black-500-48);
  --transparent-icon-default-light-disabled: var(--black-400-40);
  --transparent-icon-secondary: var(--black-500-48);
  --transparent-icon-secondary-hover: var(--black-400-40);
  --transparent-icon-secondary-pressed: var(--black-300-32);
  --transparent-icon-secondary-disabled: var(--black-200-24);
  --transparent-icon-inverse: var(--white-50-08);
  --transparent-icon-inverse-hover: var(--white-100-16);
  --transparent-icon-inverse-pressed: var(--white-200-24);
  --transparent-icon-inverse-disabled: var(--white-500-48);
  --transparent-icon-inverse-light: var(--white-200-24);
  --transparent-icon-inverse-light-hover: var(--white-300-32);
  --transparent-icon-inverse-light-pressed: var(--white-400-40);
  --transparent-icon-inverse-light-disabled: var(--white-700-64);
  --text-warning-default: var(--orange-900);
  --text-warning-default-hover: var(--orange-800);
  --text-warning-default-pressed: var(--orange-700);
  --text-warning-default-disabled: var(--orange-600);
  --text-warning-default-light: var(--orange-700);
  --text-warning-default-light-hover: var(--orange-600);
  --text-warning-default-light-pressed: var(--orange-500);
  --text-warning-default-light-disabled: var(--orange-400);
  --text-warning-secondary: var(--orange-500);
  --text-warning-secondary-hover: var(--orange-400);
  --text-warning-secondary-pressed: var(--orange-300);
  --text-warning-secondary-disabled: var(--orange-200);
  --text-warning-inverse: var(--orange-50);
  --text-warning-inverse-hover: var(--orange-100);
  --text-warning-inverse-pressed: var(--orange-200);
  --text-warning-inverse-disabled: var(--orange-50);
  --text-warning-inverse-light: var(--orange-200);
  --text-warning-inverse-light-hover: var(--orange-300);
  --text-warning-inverse-light-pressed: var(--orange-400);
  --text-warning-inverse-light-disabled: var(--orange-200);
  --background-base-inverse-light-hover: var(--neutral-500);
  --background-base-inverse-light-pressed: var(--neutral-400);
  --background-base-inverse-light-disabled: var(--neutral-200);

  /* Typography primitives */
  --font-family-title: "TT Commons Pro Expanded", "Arial Narrow", Arial, sans-serif;
  --font-family-sans: Inter, Arial, sans-serif;
  --font-family-mono: "Roboto Mono", "SFMono-Regular", Consolas, "Liberation Mono", monospace;
  --font-weight-regular: 400;
  --font-style-regular-italic: Italic;
  --font-style-semibold-italic: Semi Bold Italic;
  --font-style-demibold-italic: DemiBold Italic;
  --font-style-extrabold-italic: ExtraBold Italic;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-size-9: 9px;
  --font-weight-extrabold: 800;
  --font-size-10: 10px;
  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-20: 20px;
  --font-size-24: 24px;
  --font-size-32: 32px;
  --font-size-40: 40px;
  --line-height-12: 12px;
  --line-height-14: 14px;
  --line-height-16: 16px;
  --line-height-20: 20px;
  --line-height-24: 24px;
  --line-height-28: 28px;
  --line-height-32: 32px;
  --line-height-40: 40px;
  --line-height-48: 48px;
  --text-decoration-none: None;
  --text-decoration-underline: Underline;
  --text-decoration-underline-dashed: Underline dashed;

  /* Page typography styles */
  --page-h0-heading-family: var(--font-family-title);
  --page-h0-heading-family-mobile: var(--font-family-title);
  --page-h0-heading-weight: var(--font-weight-extrabold);
  --page-h0-heading-weight-mobile: var(--font-weight-extrabold);
  --page-h0-heading-size: var(--font-size-40);
  --page-h0-heading-size-mobile: var(--font-size-32);
  --page-h0-heading-line-height: var(--line-height-48);
  --page-h0-heading-line-height-mobile: var(--line-height-40);
  --page-h1-heading-family: var(--font-family-title);
  --page-h1-heading-family-mobile: var(--font-family-title);
  --page-h1-heading-weight: var(--font-weight-extrabold);
  --page-h1-heading-weight-mobile: var(--font-weight-extrabold);
  --page-h1-heading-size: var(--font-size-32);
  --page-h1-heading-size-mobile: var(--font-size-24);
  --page-h1-heading-line-height: var(--line-height-40);
  --page-h1-heading-line-height-mobile: var(--line-height-32);
  --page-h2-heading-family: var(--font-family-title);
  --page-h2-heading-family-mobile: var(--font-family-title);
  --page-h2-heading-weight: var(--font-weight-extrabold);
  --page-h2-heading-weight-mobile: var(--font-weight-extrabold);
  --page-h2-heading-size: var(--font-size-24);
  --page-h2-heading-size-mobile: var(--font-size-20);
  --page-h2-heading-line-height: var(--line-height-32);
  --page-h2-heading-line-height-mobile: var(--line-height-28);
  --page-h3-heading-family: var(--font-family-title);
  --page-h3-heading-family-mobile: var(--font-family-title);
  --page-h3-heading-weight: var(--font-weight-extrabold);
  --page-h3-heading-weight-mobile: var(--font-weight-extrabold);
  --page-h3-heading-size: var(--font-size-20);
  --page-h3-heading-size-mobile: var(--font-size-16);
  --page-h3-heading-line-height: var(--line-height-28);
  --page-h3-heading-line-height-mobile: var(--line-height-24);
  --page-subtitle-family: var(--font-family-sans);
  --page-subtitle-family-mobile: var(--font-family-sans);
  --page-subtitle-weight-base: var(--font-weight-regular);
  --page-subtitle-weight-base-mobile: var(--font-weight-regular);
  --page-subtitle-weight-strong: var(--font-weight-semibold);
  --page-subtitle-weight-strong-mobile: var(--font-weight-semibold);
  --page-subtitle-size: var(--font-size-16);
  --page-subtitle-size-mobile: var(--font-size-14);
  --page-subtitle-line-height: var(--line-height-24);
  --page-subtitle-line-height-mobile: var(--line-height-20);
  --page-body-family: var(--font-family-sans);
  --page-body-family-mobile: var(--font-family-sans);
  --page-body-weight-base: var(--font-weight-regular);
  --page-body-weight-base-mobile: var(--font-weight-regular);
  --page-body-weight-strong: var(--font-weight-semibold);
  --page-body-weight-strong-mobile: var(--font-weight-semibold);
  --page-body-style-italic: var(--font-style-regular-italic);
  --page-body-style-italic-mobile: var(--font-style-regular-italic);
  --page-body-size: var(--font-size-14);
  --page-body-size-mobile: var(--font-size-12);
  --page-body-line-height: var(--line-height-20);
  --page-body-line-height-mobile: var(--line-height-16);
  --page-caption-family: var(--font-family-sans);
  --page-caption-family-mobile: var(--font-family-sans);
  --page-caption-weight-base: var(--font-weight-regular);
  --page-caption-weight-base-mobile: var(--font-weight-regular);
  --page-caption-weight-strong: var(--font-weight-semibold);
  --page-caption-weight-strong-mobile: var(--font-weight-semibold);
  --page-caption-size: var(--font-size-12);
  --page-caption-size-mobile: var(--font-size-10);
  --page-caption-line-height: var(--line-height-16);
  --page-caption-line-height-mobile: var(--line-height-14);
  --page-overline-family: var(--font-family-sans);
  --page-overline-family-mobile: var(--font-family-sans);
  --page-overline-weight-base: var(--font-weight-regular);
  --page-overline-weight-base-mobile: var(--font-weight-regular);
  --page-overline-weight-strong: var(--font-weight-semibold);
  --page-overline-weight-strong-mobile: var(--font-weight-semibold);
  --page-overline-size: var(--font-size-10);
  --page-overline-size-mobile: var(--font-size-9);
  --page-overline-line-height: var(--line-height-14);
  --page-overline-line-height-mobile: var(--line-height-12);
  --page-code-family: var(--font-family-mono);
  --page-code-family-mobile: var(--font-family-mono);
  --page-code-weight-base: var(--font-weight-regular);
  --page-code-weight-base-mobile: var(--font-weight-regular);
  --page-code-weight-strong: var(--font-weight-bold);
  --page-code-weight-strong-mobile: var(--font-weight-bold);
  --page-code-size: var(--font-size-14);
  --page-code-size-mobile: var(--font-size-12);
  --page-code-line-height: var(--line-height-20);
  --page-code-line-height-mobile: var(--line-height-16);

  /* Frontend aliases */
  --font-family-base: var(--font-family-sans);
  --font-family-code: var(--font-family-mono);
  --size-input-medium: var(--elements-56);
  --size-input-small: var(--elements-48);
  --radius-0: var(--radius-no);
  --radius-2: var(--radius-smallest);
  --radius-4: var(--radius-small);
  --radius-8: var(--radius-middle);
  --radius-16: var(--radius-large);
  --radius-9999: var(--radius-full);

  /* Size variables */
  --space-0: 0px;
  --space-1: 1px;
  --space-2: 2px;
  --space-4: 4px;
  --space-6: 6px;
  --space-8: 8px;
  --space-10: 10px;
  --space-12: 12px;
  --space-16: 16px;
  --space-20: 20px;
  --space-24: 24px;
  --space-32: 32px;
  --space-40: 40px;
  --space-48: 48px;
  --radius-no: 0px;
  --radius-smallest: 2px;
  --radius-small: 4px;
  --radius-middle: 8px;
  --radius-large: 16px;
  --radius-full: 9999px;
  --depth-n4: -4px;
  --depth-n2: -2px;
  --depth-n1: -1px;
  --depth-0: 0px;
  --depth-1: 1px;
  --depth-2: 2px;
  --depth-4: 4px;
  --depth-8: 8px;
  --depth-12: 12px;
  --depth-16: 16px;
  --elements-4: 4px;
  --border-small: 1px;
  --border-middle: 2px;
  --elements-8: 8px;
  --elements-12: 12px;
  --border-large: 4px;
  --elements-16: 16px;
  --elements-20: 20px;
  --elements-24: 24px;
  --elements-28: 28px;
  --elements-32: 32px;
  --elements-40: 40px;
  --elements-48: 48px;
  --elements-56: 56px;
  --elements-64: 64px;
  --elements-72: 72px;

  /* Responsive variables */
  --platform-desktop: 1280px;
  --platform-tablet: 768px;
  --platform-mobile: 320px;
  --platform-desktop-full: 1920px;

  /* Effects */
  --drop-shadow-shadow-xs: 0px 1px 4px 0px #0000000a;
  --drop-shadow-shadow-xs-hover: 0px 1px 4px 0px #0000000a, 0px 2px 4px 0px #00000014;
  --drop-shadow-shadow-s: 0px 1px 8px -1px #00000014;
  --drop-shadow-shadow-s-hover: 0px 1px 8px -1px #00000014, 0px 2px 4px 0px #00000014;
  --drop-shadow-shadow-m: 0px 1px 12px -2px #00000029;
  --drop-shadow-shadow-m-hover: 0px 1px 12px -2px #00000029, 0px 2px 4px 0px #00000014;
  --drop-shadow-shadow-l: 0px 1px 16px -4px #0000003d;
  --drop-shadow-shadow-l-hover: 0px 1px 16px -4px #0000003d, 0px 2px 4px 0px #00000014;
  --shadow-xs: var(--drop-shadow-shadow-xs);
  --shadow-xs-hover: var(--drop-shadow-shadow-xs-hover);
  --shadow-s: var(--drop-shadow-shadow-s);
  --shadow-s-hover: var(--drop-shadow-shadow-s-hover);
  --shadow-m: var(--drop-shadow-shadow-m);
  --shadow-m-hover: var(--drop-shadow-shadow-m-hover);
  --shadow-l: var(--drop-shadow-shadow-l);
  --shadow-l-hover: var(--drop-shadow-shadow-l-hover);
}

@media (max-width: 767px) {
  :root {
    --page-h0-heading-size: var(--page-h0-heading-size-mobile);
    --page-h0-heading-line-height: var(--page-h0-heading-line-height-mobile);
    --page-h1-heading-size: var(--page-h1-heading-size-mobile);
    --page-h1-heading-line-height: var(--page-h1-heading-line-height-mobile);
    --page-h2-heading-size: var(--page-h2-heading-size-mobile);
    --page-h2-heading-line-height: var(--page-h2-heading-line-height-mobile);
    --page-h3-heading-size: var(--page-h3-heading-size-mobile);
    --page-h3-heading-line-height: var(--page-h3-heading-line-height-mobile);
    --page-subtitle-size: var(--page-subtitle-size-mobile);
    --page-subtitle-line-height: var(--page-subtitle-line-height-mobile);
    --page-body-size: var(--page-body-size-mobile);
    --page-body-line-height: var(--page-body-line-height-mobile);
    --page-caption-size: var(--page-caption-size-mobile);
    --page-caption-line-height: var(--page-caption-line-height-mobile);
    --page-overline-size: var(--page-overline-size-mobile);
    --page-overline-line-height: var(--page-overline-line-height-mobile);
    --page-code-size: var(--page-code-size-mobile);
    --page-code-line-height: var(--page-code-line-height-mobile);
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family-base);
  color: var(--text-base-default);
  background: var(--background-base-default);
}
