:root {
  /* Primitive colors */
  --black-100-16: #00000029;
  --black-1000: #000000;
  --black-200-24: #0000003d;
  --black-25-04: #0000000a;
  --black-300-32: #00000052;
  --black-400-40: #00000066;
  --black-50-08: #00000014;
  --black-500-48: #0000007a;
  --black-600-56: #0000008f;
  --black-700-64: #000000a3;
  --black-800-72: #000000b8;
  --black-900-80: #000000cc;
  --green-100: #c2eac9;
  --green-200: #9fdeab;
  --green-25: #f6fcf7;
  --green-300: #6bcd7c;
  --green-400: #48c15e;
  --green-50: #d3f0d9;
  --green-500: #25b53f;
  --green-600: #1f9835;
  --green-700: #197b2b;
  --green-800: #10501c;
  --green-900: #0a3312;
  --green-transparent-04: #25b53f0a;
  --green-transparent-08: #25b53f14;
  --green-transparent-16: #25b53f29;
  --green-transparent-24: #25b53f3d;
  --green-transparent-32: #25b53f52;
  --green-transparent-40: #25b53f66;
  --green-transparent-48: #25b53f7a;
  --neutral-100: #cfd1d3;
  --neutral-200: #b4b6ba;
  --neutral-25: #f8f8f9;
  --neutral-300: #8b8e95;
  --neutral-400: #70747c;
  --neutral-50: #dddee0;
  --neutral-500: #555963;
  --neutral-600: #474b53;
  --neutral-700: #3a3d43;
  --neutral-800: #25272c;
  --neutral-900: #18191c;
  --neutral-transparent-04: #5559630a;
  --neutral-transparent-08: #55596314;
  --neutral-transparent-16: #55596329;
  --neutral-transparent-24: #5559633d;
  --neutral-transparent-32: #55596352;
  --neutral-transparent-40: #55596366;
  --neutral-transparent-48: #5559637a;
  --orange-100: #fed5b8;
  --orange-200: #fdbd8f;
  --orange-25: #fff9f5;
  --orange-300: #fc9952;
  --orange-400: #fb8129;
  --orange-50: #fee1cc;
  --orange-500: #fa6900;
  --orange-600: #d25800;
  --orange-700: #aa4700;
  --orange-800: #6e2e00;
  --orange-900: #461d00;
  --orange-transparent-04: #fa69000a;
  --orange-transparent-08: #fa690014;
  --orange-transparent-16: #fa690029;
  --orange-transparent-24: #fa69003d;
  --orange-transparent-32: #fa690052;
  --orange-transparent-40: #fa690066;
  --orange-transparent-48: #fa69007a;
  --purple-100: #cabde8;
  --purple-200: #ac97db;
  --purple-25: #f7f6fc;
  --purple-300: #7f5ec8;
  --purple-400: #6138bb;
  --purple-50: #d9d0ef;
  --purple-500: #4312ae;
  --purple-600: #380f92;
  --purple-700: #2e0c76;
  --purple-800: #1d084d;
  --purple-900: #130531;
  --purple-transparent-04: #4312ae0a;
  --purple-transparent-08: #4312ae14;
  --purple-transparent-16: #4312ae29;
  --purple-transparent-24: #4312ae3d;
  --purple-transparent-32: #4312ae52;
  --purple-transparent-40: #4312ae66;
  --purple-transparent-48: #4312ae7a;
  --red-100: #f6b8cd;
  --red-200: #f18fb1;
  --red-25: #fef5f8;
  --red-300: #ea5286;
  --red-400: #e52969;
  --red-50: #f9ccdb;
  --red-500: #e0004d;
  --red-600: #bc0041;
  --red-700: #980034;
  --red-800: #630022;
  --red-900: #3f0016;
  --red-transparent-04: #e0004d0a;
  --red-transparent-08: #e0004d14;
  --red-transparent-16: #e0004d29;
  --red-transparent-24: #e0004d3d;
  --red-transparent-32: #e0004d52;
  --red-transparent-40: #e0004d66;
  --red-transparent-48: #e0004d7a;
  --violet-100: #e4d9e6;
  --violet-200: #d4c4d7;
  --violet-25: #fbfafb;
  --violet-300: #bda3c1;
  --violet-400: #ae8eb3;
  --violet-50: #ece4ed;
  --violet-500: #9e78a4;
  --violet-600: #85658a;
  --violet-700: #6b5270;
  --violet-800: #463548;
  --violet-900: #2c222e;
  --violet-transparent-04: #9e78a40a;
  --violet-transparent-08: #9e78a414;
  --violet-transparent-16: #9e78a429;
  --violet-transparent-24: #9e78a43d;
  --violet-transparent-32: #9e78a452;
  --violet-transparent-40: #9e78a466;
  --violet-transparent-48: #9e78a47a;
  --white-100-16: #ffffff29;
  --white-1000: #ffffff;
  --white-200-24: #ffffff3d;
  --white-25-04: #ffffff0a;
  --white-300-32: #ffffff52;
  --white-400-40: #ffffff66;
  --white-50-08: #ffffff14;
  --white-500-48: #ffffff7a;
  --white-600-56: #ffffff8f;
  --white-700-64: #ffffffa3;
  --white-800-72: #ffffffb8;
  --white-900-80: #ffffffcc;
  --yellow-100: #fff5b8;
  --yellow-200: #fff08f;
  --yellow-25: #fffef5;
  --yellow-300: #ffe752;
  --yellow-400: #ffe229;
  --yellow-50: #fff8cc;
  --yellow-500: #ffdc00;
  --yellow-600: #d6b900;
  --yellow-700: #ad9600;
  --yellow-800: #706100;
  --yellow-900: #473e00;
  --yellow-transparent-04: #ffdc000a;
  --yellow-transparent-08: #ffdc0014;
  --yellow-transparent-16: #ffdc0029;
  --yellow-transparent-24: #ffdc003d;
  --yellow-transparent-32: #ffdc0052;
  --yellow-transparent-40: #ffdc0066;
  --yellow-transparent-48: #ffdc007a;

  /* Semantic colors */
  --background-accent-default-disabled: #cabde8;
  --background-accent-default-hover: #6138bb;
  --background-accent-default-pressed: #7f5ec8;
  --background-accent-default: #4312ae;
  --background-accent-inverse-disabled: #4312ae;
  --background-accent-inverse-hover: #1d084d;
  --background-accent-inverse-pressed: #2e0c76;
  --background-accent-inverse: #130531;
  --background-accent-secondary-disabled: #f7f6fc;
  --background-accent-secondary-hover: #d9d0ef;
  --background-accent-secondary-pressed: #cabde8;
  --background-accent-secondary: #f7f6fc;
  --background-accent-tertiary-disabled: #d9d0ef;
  --background-accent-tertiary-hover: #cabde8;
  --background-accent-tertiary-pressed: #d9d0ef;
  --background-accent-tertiary: #ac97db;
  --background-base-default-disabled: #ffffff;
  --background-base-default-hover: #dddee0;
  --background-base-default-pressed: #cfd1d3;
  --background-base-default: #ffffff;
  --background-base-inverse-disabled: #70747c;
  --background-base-inverse-hover: #3a3d43;
  --background-base-inverse-light-disabled: #b4b6ba;
  --background-base-inverse-light-hover: #555963;
  --background-base-inverse-light-pressed: #70747c;
  --background-base-inverse-light: #474b53;
  --background-base-inverse-pressed: #474b53;
  --background-base-inverse: #25272c;
  --background-base-secondary-disabled: #f8f8f9;
  --background-base-secondary-hover: #dddee0;
  --background-base-secondary-pressed: #cfd1d3;
  --background-base-secondary: #f8f8f9;
  --background-base-skeleton: #55596329;
  --background-base-tertiary-disabled: #f8f8f9;
  --background-base-tertiary-hover: #dddee0;
  --background-base-tertiary-pressed: #f8f8f9;
  --background-base-tertiary: #cfd1d3;
  --background-error-default-disabled: #f6b8cd;
  --background-error-default-hover: #e52969;
  --background-error-default-pressed: #ea5286;
  --background-error-default: #e0004d;
  --background-error-inverse-disabled: #e0004d;
  --background-error-inverse-hover: #630022;
  --background-error-inverse-pressed: #980034;
  --background-error-inverse: #3f0016;
  --background-error-secondary-disabled: #fef5f8;
  --background-error-secondary-hover: #f9ccdb;
  --background-error-secondary-pressed: #f6b8cd;
  --background-error-secondary: #fef5f8;
  --background-error-tertiary-disabled: #f9ccdb;
  --background-error-tertiary-hover: #f6b8cd;
  --background-error-tertiary-pressed: #f9ccdb;
  --background-error-tertiary: #f18fb1;
  --background-primary-default-disabled: #fff5b8;
  --background-primary-default-hover: #ffe229;
  --background-primary-default-pressed: #ffe752;
  --background-primary-default: #ffdc00;
  --background-primary-inverse-disabled: #ffdc00;
  --background-primary-inverse-hover: #706100;
  --background-primary-inverse-pressed: #ad9600;
  --background-primary-inverse: #473e00;
  --background-primary-secondary-disabled: #fffef5;
  --background-primary-secondary-hover: #fff8cc;
  --background-primary-secondary-pressed: #fff5b8;
  --background-primary-secondary: #fffef5;
  --background-primary-tertiary-disabled: #fff8cc;
  --background-primary-tertiary-hover: #fff5b8;
  --background-primary-tertiary-pressed: #fff8cc;
  --background-primary-tertiary: #fff08f;
  --background-success-default-disabled: #c2eac9;
  --background-success-default-hover: #48c15e;
  --background-success-default-pressed: #6bcd7c;
  --background-success-default: #25b53f;
  --background-success-inverse-disabled: #25b53f;
  --background-success-inverse-hover: #10501c;
  --background-success-inverse-pressed: #197b2b;
  --background-success-inverse: #0a3312;
  --background-success-secondary-disabled: #f6fcf7;
  --background-success-secondary-hover: #d3f0d9;
  --background-success-secondary-pressed: #c2eac9;
  --background-success-secondary: #f6fcf7;
  --background-success-tertiary-disabled: #d3f0d9;
  --background-success-tertiary-hover: #c2eac9;
  --background-success-tertiary-pressed: #d3f0d9;
  --background-success-tertiary: #9fdeab;
  --background-warning-default-disabled: #fed5b8;
  --background-warning-default-hover: #fb8129;
  --background-warning-default-pressed: #fc9952;
  --background-warning-default: #fa6900;
  --background-warning-inverse-disabled: #fa6900;
  --background-warning-inverse-hover: #6e2e00;
  --background-warning-inverse-pressed: #aa4700;
  --background-warning-inverse: #461d00;
  --background-warning-secondary-disabled: #fff9f5;
  --background-warning-secondary-hover: #fee1cc;
  --background-warning-secondary-pressed: #fed5b8;
  --background-warning-secondary: #fff9f5;
  --background-warning-tertiary-disabled: #fee1cc;
  --background-warning-tertiary-hover: #fed5b8;
  --background-warning-tertiary-pressed: #fee1cc;
  --background-warning-tertiary: #fdbd8f;
  --border-accent-default: #4312ae;
  --border-accent-disabled: #ac97db;
  --border-accent-focused: #4312ae29;
  --border-accent-hover: #1d084d;
  --border-accent-pressed: #130531;
  --border-base-default-disabled: #cfd1d3;
  --border-base-default-focused: #55596329;
  --border-base-default-hover: #25272c;
  --border-base-default-pressed: #18191c;
  --border-base-default: #70747c;
  --border-base-inverse-disabled: #70747c;
  --border-base-inverse-focused: #55596329;
  --border-base-inverse-hover: #3a3d43;
  --border-base-inverse-pressed: #474b53;
  --border-base-inverse: #25272c;
  --border-base-light-disabled: #55596314;
  --border-base-light-focused: #55596329;
  --border-base-light-hover: #55596329;
  --border-base-light-pressed: #5559633d;
  --border-base-light: #55596314;
  --border-base-secondary-disabled: #cfd1d3;
  --border-base-secondary-focused: #55596329;
  --border-base-secondary-hover: #555963;
  --border-base-secondary-pressed: #474b53;
  --border-base-secondary: #cfd1d3;
  --border-base-tertiary-disabled: #dddee0;
  --border-base-tertiary-focused: #55596329;
  --border-base-tertiary-hover: #70747c;
  --border-base-tertiary-pressed: #555963;
  --border-base-tertiary: #dddee0;
  --border-black-default: #0000007a;
  --border-black-disabled: #0000003d;
  --border-black-focused: #00000029;
  --border-black-hover: #000000cc;
  --border-black-pressed: #000000cc;
  --border-error-default: #e0004d;
  --border-error-disabled: #f18fb1;
  --border-error-focused: #e0004d29;
  --border-error-hover: #630022;
  --border-error-pressed: #3f0016;
  --border-primary-default: #ffdc00;
  --border-primary-disabled: #fff08f;
  --border-primary-focused: #ffdc0029;
  --border-primary-hover: #706100;
  --border-primary-pressed: #473e00;
  --border-success-default: #25b53f;
  --border-success-disabled: #9fdeab;
  --border-success-focused: #25b53f29;
  --border-success-hover: #10501c;
  --border-success-pressed: #0a3312;
  --border-warning-default: #fa6900;
  --border-warning-disabled: #fdbd8f;
  --border-warning-focused: #fa690029;
  --border-warning-hover: #6e2e00;
  --border-warning-pressed: #461d00;
  --border-white-default: #ffffff7a;
  --border-white-disabled: #ffffff3d;
  --border-white-focused: #ffffff29;
  --border-white-full: #ffffff;
  --border-white-hover: #ffffffcc;
  --border-white-pressed: #ffffffcc;
  --icon-accent-default-disabled: #380f92;
  --icon-accent-default-light-disabled: #6138bb;
  --icon-accent-default-light: #2e0c76;
  --icon-accent-default: #130531;
  --icon-accent-inverse-disabled: #d9d0ef;
  --icon-accent-inverse-light-disabled: #ac97db;
  --icon-accent-inverse-light: #ac97db;
  --icon-accent-inverse: #d9d0ef;
  --icon-accent-secondary-disabled: #ac97db;
  --icon-accent-secondary: #4312ae;
  --icon-base-default-disabled: #70747c;
  --icon-base-default: #18191c;
  --icon-base-inverse-disabled: #dddee0;
  --icon-base-inverse-secondary-disabled: #b4b6ba;
  --icon-base-inverse-secondary: #b4b6ba;
  --icon-base-inverse: #dddee0;
  --icon-base-secondary-disabled: #cfd1d3;
  --icon-base-secondary: #70747c;
  --icon-error-default-disabled: #bc0041;
  --icon-error-default-light-disabled: #e52969;
  --icon-error-default-light: #980034;
  --icon-error-default: #3f0016;
  --icon-error-inverse-disabled: #f9ccdb;
  --icon-error-inverse-light-disabled: #f18fb1;
  --icon-error-inverse-light: #f18fb1;
  --icon-error-inverse: #f9ccdb;
  --icon-error-secondary-disabled: #f18fb1;
  --icon-error-secondary: #e0004d;
  --icon-primary-default-disabled: #d6b900;
  --icon-primary-default-light-disabled: #ffe229;
  --icon-primary-default-light: #ad9600;
  --icon-primary-default: #473e00;
  --icon-primary-inverse-disabled: #fffef5;
  --icon-primary-inverse-light-disabled: #fff08f;
  --icon-primary-inverse-light: #fff08f;
  --icon-primary-inverse: #fff8cc;
  --icon-primary-secondary-disabled: #fff08f;
  --icon-primary-secondary: #ffdc00;
  --icon-success-default-disabled: #1f9835;
  --icon-success-default-light-disabled: #48c15e;
  --icon-success-default-light: #197b2b;
  --icon-success-default: #0a3312;
  --icon-success-inverse-disabled: #d3f0d9;
  --icon-success-inverse-light-disabled: #9fdeab;
  --icon-success-inverse-light: #9fdeab;
  --icon-success-inverse: #d3f0d9;
  --icon-success-secondary-disabled: #9fdeab;
  --icon-success-secondary: #25b53f;
  --icon-warning-default-disabled: #d25800;
  --icon-warning-default-light-disabled: #fb8129;
  --icon-warning-default-light: #aa4700;
  --icon-warning-default: #461d00;
  --icon-warning-inverse-disabled: #fee1cc;
  --icon-warning-inverse-light-disabled: #fdbd8f;
  --icon-warning-inverse-light: #fdbd8f;
  --icon-warning-inverse: #fee1cc;
  --icon-warning-secondary-disabled: #fdbd8f;
  --icon-warning-secondary: #fa6900;
  --text-accent-default-disabled: #380f92;
  --text-accent-default-light-disabled: #6138bb;
  --text-accent-default-light: #2e0c76;
  --text-accent-default: #130531;
  --text-accent-inverse-disabled: #d9d0ef;
  --text-accent-inverse-light-disabled: #ac97db;
  --text-accent-inverse-light: #ac97db;
  --text-accent-inverse: #d9d0ef;
  --text-accent-secondary-disabled: #ac97db;
  --text-accent-secondary: #4312ae;
  --text-base-default-disabled: #70747c;
  --text-base-default: #18191c;
  --text-base-inverse-disabled: #dddee0;
  --text-base-inverse-secondary-disabled: #b4b6ba;
  --text-base-inverse-secondary: #b4b6ba;
  --text-base-inverse: #dddee0;
  --text-base-secondary-disabled: #cfd1d3;
  --text-base-secondary: #70747c;
  --text-base-white: #ffffff;
  --text-error-default-disabled: #bc0041;
  --text-error-default-light-disabled: #e52969;
  --text-error-default-light: #980034;
  --text-error-default: #3f0016;
  --text-error-inverse-disabled: #f9ccdb;
  --text-error-inverse-light-disabled: #f18fb1;
  --text-error-inverse-light: #f18fb1;
  --text-error-inverse: #f9ccdb;
  --text-error-secondary-disabled: #f18fb1;
  --text-error-secondary: #e0004d;
  --text-primary-default-disabled: #d6b900;
  --text-primary-default-light-disabled: #ffe229;
  --text-primary-default-light: #ad9600;
  --text-primary-default: #473e00;
  --text-primary-inverse-disabled: #fffef5;
  --text-primary-inverse-light-disabled: #fff08f;
  --text-primary-inverse-light: #fff08f;
  --text-primary-inverse: #fff8cc;
  --text-primary-secondary-disabled: #fff08f;
  --text-primary-secondary: #ffdc00;
  --text-success-default-disabled: #1f9835;
  --text-success-default-light-disabled: #48c15e;
  --text-success-default-light: #197b2b;
  --text-success-default: #0a3312;
  --text-success-inverse-disabled: #d3f0d9;
  --text-success-inverse-light-disabled: #9fdeab;
  --text-success-inverse-light: #9fdeab;
  --text-success-inverse: #d3f0d9;
  --text-success-secondary-disabled: #9fdeab;
  --text-success-secondary: #25b53f;
  --text-warning-default-disabled: #d25800;
  --text-warning-default-light-disabled: #fb8129;
  --text-warning-default-light: #aa4700;
  --text-warning-default: #461d00;
  --text-warning-inverse-disabled: #fee1cc;
  --text-warning-inverse-light-disabled: #fdbd8f;
  --text-warning-inverse-light: #fdbd8f;
  --text-warning-inverse: #fee1cc;
  --text-warning-secondary-disabled: #fdbd8f;
  --text-warning-secondary: #fa6900;
  --transparent-background-accent-focused: #4312ae29;
  --transparent-background-accent-hover: #4312ae14;
  --transparent-background-accent-pressed: #4312ae3d;
  --transparent-background-base-focused: #55596329;
  --transparent-background-base-hover: #55596314;
  --transparent-background-base-pressed: #5559633d;
  --transparent-background-black-focused: #00000029;
  --transparent-background-black-hover: #00000014;
  --transparent-background-black-pressed: #0000003d;
  --transparent-background-black-scrim: #000000cc;
  --transparent-background-error-focused: #e0004d29;
  --transparent-background-error-hover: #e0004d14;
  --transparent-background-error-pressed: #e0004d3d;
  --transparent-background-primary-focused: #ffdc0029;
  --transparent-background-primary-hover: #ffdc0014;
  --transparent-background-primary-pressed: #ffdc003d;
  --transparent-background-success-focused: #25b53f29;
  --transparent-background-success-hover: #25b53f14;
  --transparent-background-success-pressed: #25b53f3d;
  --transparent-background-warning-focused: #fa690029;
  --transparent-background-warning-hover: #fa690014;
  --transparent-background-warning-pressed: #fa69003d;
  --transparent-background-white-focused: #ffffff29;
  --transparent-background-white-hover: #ffffff14;
  --transparent-background-white-pressed: #ffffff3d;

  /* Typography */
  --font-family-base: Inter, Arial, sans-serif;
  --font-family-code: "Roboto Mono", monospace;

  --caption-size: 12px;
  --caption-line-height: 16px;
  --caption-weight-base: 400;
  --caption-family: Inter, Arial, sans-serif;

  --subtitle-size: 16px;
  --subtitle-line-height: 24px;
  --subtitle-weight-base: 400;
  --subtitle-family: Inter, Arial, sans-serif;

  --body-size: 15px;
  --body-line-height: 22px;
  --body-weight-base: 400;
  --body-family: Inter, Arial, sans-serif;

  /* Borders */
  --border-small: 1px;
  --border-middle: 2px;
  --border-large: 4px;

  /* Radii */
  --radius-0: 0px;
  --radius-2: 2px;
  --radius-4: 4px;
  --radius-8: 8px;
  --radius-16: 16px;
  --radius-9999: 9999px;
  --radius-small: var(--radius-2);
  --radius-middle: var(--radius-8);
  --radius-large: var(--radius-16);
  --radius-full: var(--radius-9999);

  /* Spacing */
  --space-0: 0px;
  --space-4: 4px;
  --space-8: 8px;
  --space-12: 12px;
  --space-16: 16px;

  /* Component dimensions */
  --size-input-medium: 56px;
  --size-input-small: 48px;

  /* Element sizes */
  --elements-16: 16px;
  --elements-24: 24px;
  --elements-32: 32px;

  /* Effects */
  --shadow-s: 0 1px 8px -1px var(--black-50-08);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family-base);
  color: var(--text-base-default);
  background: var(--background-base-default);
}
